em {
    font-family: serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 30px;
}

.color {
    color: red;
    font-weight: 700;
}

p:nth-of-type(1) {
    font-weight: 400;
    font-style: normal;
    font-size: ;
}

p:nth-of-type(2) {
    font-weight: 400;
    font-style: normal;
}

#offcanvasNavbarLabel {
    color: red;
    font-weight: 700;
    font-size: 20px;
}

summary {
    color: red;
}

#foo {
    font-size: 15px;
    font-weight: 700;
}

.items {
    letter-spacing: 5px;
    font-size: 20px;
}

span img {
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.fa-facebook {
    margin-right: 10px;
}

.fa-linkedin {
    margin-right: 10px;
}

.list-inline {
    display: flex;
}

.list-inline i:hover {
    font-size: 40px;
    color: rgb(211, 24, 24);
}

.list-inline li {
    padding: 3px;
    font-size: 20px;
    display: flex;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
    flex-basis: auto;
    overflow: hidden;
}

p {
    color: hsl(343, 78%, 2%);
    font-size: 18px;
}

.paragraph {
    padding: 10px;
    margin-top: 5px;
}

.green {
    padding: 20px;
    margin-top: 50px;
}

.black {
    padding: 20px;
    margin-top: 50px;
    justify-content: space-around;
}

.white {
    padding: 20px;
}

.adjust {
    font-size: 16px;
}

.grey {
    padding: 20px;
}

@media (min-width:360px) {
    .adjust {
        font-size: 15px !important;
    }
    .title {
        font-size: 20px !important;
    }
    .subtitle {
        font-size: 16px !important;
    }
}